[Unit]
Description=Kafka
After=network.target

[Service]
User=apache
Group=apache
Environment=CLASSPATH=.:/opt/kafka/libs/*
EnvironmentFile=/etc/sysconfig/kafka
ExecStart=/opt/kafka/bin/kafka-server-start.sh /etc/kafka/server.properties

[Install]
WantedBy=multi-user.target
